<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.oblivio.haze"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Haze</name>
	<icon src="img/hotel75.png"/>
    <description>
        Haze is an off the record communication platform. 
    </description>

    <author href="https://www.fabian-valle.com/" email="">
        Fabian Valle
    </author>

<gap:plugin name="cordova-plugin-canvas2image" source="npm" />
<gap:plugin name="cordova-plugin-whitelist" source="npm" />

<feature name="http://api.phonegap.com/1.0/network" />

<access origin="https://*.hazedaily.com" subdomains="true" />

</widget>


