
<article id="blackbook" class="ui stacked segment">
<div  class="ui card ">
		  <div class="content">
 		      <div class="right floated">
		  		</div>
		    <div class="header user-alias">
		    					{{user_alias}}
		    </div>
		    <div class="meta">
		      <span class="category">Blackbook( {{entries.length}} )</span>
		    </div>
		    <div class="description">
		      <a ng-click="checkBlackbook()" class="ui right floated icon green button"><i class="refresh icon"></i></a>
		    </div>
		  </div>
		  <div class="extra content">
		    <div class="right floated author">
		    	<div id="" class="ui right labeled left icon mini input">
				  <i class="tags icon"></i>
				  <input id="user-alias-input" placeholder="Enter Alias" type="text">
				  <a class="ui tag label" ng-click="setUserAlias()">
				    Alias
				  </a>
				</div>
					  <a href="#/processinvite" class="ui orange fluid button" id="invite-modal-open">Have an invite?</a>
				
		    </div>
		    
		  </div>
		  
		</div>
	<hr />
	<div class="ui cards">
		<div class="ui card" id="{{entry.category}}-{{entry.entryid}}" ng-repeat="entry in entries" ng-class="getEntryClassName(entry)">
		   			    	<button style="display:none;" class="ui icon top attached labeled red button"><i class="delete icon"></i>remove</button>
		  <div class="content">
 		      <div class="right floated">
 		      <img class="ui avatar image" ng-src="{{getIdenticon(entry.entryid)}}">
		  		</div>
		    <div class="header">{{entry.visiblename}}</div>
		    <div class="meta">
		      <span class="category">haze entry</span>
		    </div>
		    <div class="description">
		      <p></p>
		    </div>
		  </div>
		  <div class="extra content">
		    <div class="right floated author">
		    	<div id="" class="ui right labeled left icon mini input">
				  <i class="tags icon"></i>
				  <input id="entry-alias-{{entry.entryid}}" placeholder="Enter Alias" type="text">
				  <a class="ui tag label" ng-click="setEntryAlias(entry.entryid,entry.category)">
				    Alias
				  </a>
				</div>
				<a href="#/invite/{{entry.category}}/{{entry.entryid}}" class="ui fluid button teal">invite</a>
		    </div>
		    
		  </div>
		  		    							<a href="#/view/{{entry.category}}/{{entry.entryid}}"  class="ui icon labeled bottom attached green button "><i class="eye icon"></i>view</a>
		  
		</div>
	</div>
	<br />
	<br />
	  <a  class="ui red bottom attached basic button" id="clear-blackbook-button">clear blackbook</a>

</article>

  
 
 