
<article id="blackbook" class="ui stacked segment">
<div  class="ui card ">
		  <div class="content">
 		      <div class="right floated">
		  		</div>
		    <div class="header user-alias">
		    					{{user_alias}}
		    </div>
		    <div class="meta">
		      <span class="category">Blackbook </span>
		    </div>
		    <div class="description">
		      <a ng-click="checkBlackbook()" class="ui right floated icon green button"><i class="refresh icon"></i></a>
		    </div>
		  </div>
		  <div class="extra content">
		    <div class="right floated author">
		    	<div id="" class="ui right labeled left icon mini input">
				  <i class="tags icon"></i>
				  <input id="user-alias-input" placeholder="Enter Alias" type="text">
				  <a class="ui tag label" ng-click="setUserAlias()">
				    Alias
				  </a>
				</div>
					  <a href="#/processinvite" class="ui orange fluid button" id="invite-modal-open">Have an invite?</a>
				
		    </div>
		    
		  </div>
		  
		</div>
	<hr />
	<div id="blackbook-contents" class="ui cards">
		
	</div>
	<br />
	<br />
	  <a  class="ui red bottom attached basic button" id="clear-blackbook-button">clear blackbook</a>

</article>

  
 
 