<div id="generate-invite-view" class="ui stacked segment" style="">
<a style="display:none;" href="#/blackbook" class="ui fluid top attached pink button return-to-BB-button" id="">&lt; Blackbook</a>
  
  	<h3>Generate Invite</h3>
				<hr />

 <div class="ui form">
 <div class="two fields">
 	<div class="field">
					<label for="invite-pwd">Password*:</label>
					<input id="invite-pwd" type="text" placeholder="(Required)" class="full-width" />
		  </div>
	  <div class="field">
	  		<label>Encoded Invite:</label>
	  		<input type="text" class="full-width" id="encodedinvite" placeholder="encodedinvite" />
	  	
	  </div>    
	  
	  </div>
  	 <div ng-click="generateInvite()" class="ui bottom attached orange button">
	 	Generate
	 </div>
  </div>
 <div id="invite-img-wrapper" style="display:none;" class="ui centered card">
	  <div  class="image">
			      <a  id="invite-image" href="" download="invite.png"><img class="ui large image" src="" /></a>
	  </div>
	  <div class="content">
	    <a class="header">Click to download.</a>
	  </div>
	</div>
 </div>

 