<div id="set-alias" class="ui stacked segment" >
	<a href="#/blackbook" class="ui fluid top attached pink button return-to-BB-button" id="">&lt; Blackbook</a>
  		<div class="">
  			<h3 class="ui center aligned header">Set Alias</h3>
                
                	<form id="inviteform" action="#" role="form" class="ui form">
                		<div class="field">
                		<label for="inviteinput">Alias</label>
                		<input type="text" id="user-alias-input" placeholder="(Enter Alias)" class="" />
                		</div>
                		
                	</form>
                <hr />	
                <a ng-click="setAlias" id="set-alias-button" class="ui button bottom attached">Set Alias Invite</a>
                </div>	
  </div>